body {
	background-color: #f2c65e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
}

.container {
max-width: 750px;
margin: 0 auto;
}

.headline {
	font-family: Helvetica;
	font-size: 100px;
	line-height: 95px;
}

.body {
	font-family: Georgia;
	font-size: 22px;
	line-height: 30px;
}

.youtube {
	display: block;
	margin: 0 auto;
}
