title {
	font-family: Arial;
	font-weight: bold;
	font-size: 48px;
}

body {
	background-color: #ecede8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
}

link {
	font-family: Georgia;
	font-size: 18px;
	font-color: blue;
	line-height: 24px;
}

twitter-tweet {
	align-content: center;
}

.navigation {
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	margin: auto auto auto 50;
}

.container {
	max-width: 650px;
	margin: 0 55px;
	text-align: justify;
	align-content: center;
}

.headline {
	max-width: 700px;
	margin: 0 55px;
	font-family: Georgia;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
}

.synopsis {
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px
}

.body {
	font-family: Georgia;
	font-size: 18px;
	line-height: 24px;
}

.commentline {
	color: white;
	background-color: #333;
	padding: 8px;

}

.form {
   width: 650px;
   height: 100px;
   position: relative;
 }




